.footer{
    width: 100%;
    height: 400px;
    background: #62AD94;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative; /* не убирай!  */
    z-index: 3; /* не убирай!  */
}